@import "@nl-rvo/design-tokens/dist/index.css";
@import "@nl-rvo/component-library-css/dist/index.css";
@import "@nl-rvo/assets/images/index.css";
@import "@nl-rvo/assets/icons/index.css";
@import "@nl-rvo/assets/fonts/index.css";

.openbsw-bureaublad {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--rvo-color-grijs-100);
}

.openbsw-bureaublad-header {
    background-color: var(--rvo-color-wit);
}
.openbsw-bureaublad-header-image {
    background-image: url(../public/mijnbureau.svg);
    background-position: 50%;
    background-size: cover;
    height: 100px;
    width: 100px;
    margin-top: var(--rvo-space-md);
    margin-bottom: var(--rvo-space-md);
}

.openbsw-menubar {
    background-color: var(--rvo-color-wit);
    padding-top: var(--rvo-space-md);
    padding-bottom: var(--rvo-space-md);
}
.openbsw-textbox--menu {
    width: 450px;
}

.openbsw-alert {
    margin-top: var(--rvo-space-md);
}

.openbsw-applicatie-bar {
    margin-top: var(--rvo-space-md);
    margin-bottom: var(--rvo-space-md);
    background-color: var(--rvo-color-wit);
}
.openbsw-applicatie-bar-head {
    text-align: end;
    font-weight: var(--rvo-font-weight-bold);
    padding-right: var(--rvo-space-md);
    border-left: var(--rvo-color-hemelblauw-300) 2px solid;
    border-right: var(--rvo-color-grijs-200) 1px solid;
    padding-bottom: var(--rvo-space-md);
    padding-top: var(--rvo-space-md);
}
.openbsw-applicatie-bar .rvo-link {
    font-size: var(--rvo-font-size-sm);
}
.openbsw-applicatie-bar-head P {
    width: 80px;
    margin-bottom: var(--rvo-space-3xs);
    margin-left: var(--rvo-space-md);
}
.openbsw-applicatie-bar-item {
    padding-bottom: var(--rvo-space-md);
    padding-top: var(--rvo-space-md);
    text-align: center;
}
.openbsw-applicatie-bar-item:nth-child(2) {
    margin-left: -6px;
}
.openbsw-applicatie-bar .rvo-link {
    font-size: var(--rvo-font-size-xs);
}
.openbsw-applicatie-bar-item-icon {
    width: 50px;
    height: 50px;
    padding: var(--rvo-space-sm);
    margin-left: var(--rvo-space-2xs);
    background-color: var(--rvo-color-hemelblauw-150);
}

.openbsw-panel-container {
    margin-top: var(--rvo-space-md);
    margin-bottom: var(--rvo-space-md);
}
.openbsw-panel {
    background-color: var(--rvo-color-wit);
    padding: var(--rvo-space-md);
}
.openbsw-panel h4 {
    margin-top: 0;
    margin-bottom: var(--rvo-space-sm);
}
.openbsw-panel .utrecht-button .rvo-icon {
    margin-right: 5px;
}
.openbsw-panel .utrecht-button-group {
    margin-top: var(--rvo-space-md);
}
.openbsw-panel-scrollable-content {
    max-height: 200px;
    min-height: 200px
}

.openbsw-tabs {
    margin-bottom: var(--rvo-space-md);
}

.openbsw-document-titel {
    font-weight: var(--rvo-font-weight-bold);
}
.openbsw-document-datum {
    font-size: var(--rvo-font-size-sm);
    color: var(--rvo-color-grijs-500);
}
.openbsw-document-categorie {
    color: var(--rvo-color-hemelblauw);
}